:host {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: #eee;
}

.certain-search-item-count {
  position: absolute;
  color: #999;
  right: 16px;
}

nz-card {
  width: 400px;

  &::ng-deep .ant-card-body {
    padding: 40px;
  }
}

h1 {
  text-align: center;
}

button {
  width: 100%;
}
