<nz-card>
  <h1>Вход</h1>
  <form id="loginFm" nz-form role="form" [formGroup]="form" (ngSubmit)="submit()">
    <nz-form-item>
      <nz-form-control>
        <input nz-input nzSize="large" id="login" name="login" type="text" tabindex="2"
               formControlName="login"
               placeholder="Логин (телефон, email)">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input nz-input nzSize="large" id="password" name="password" type="password" tabindex="3" autofocus=""
               formControlName="password" placeholder="Введите пароль">
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzSize="large" type="submit" nzType="primary">Войти</button>

    <nz-divider></nz-divider>

    <div><a routerLink="/registration">Зарегистрироваться</a></div>
    <div><a routerLink="/registration-shelter">Зарегистрировать приют</a></div>
  </form>
</nz-card>
