<div id="mos-header" class="mos-widget-header mos_layouts_wrapper" style="display: none;">
  <div class="Header_spacer__12mTQ" style="height: 95px;"></div>
  <div class="Header_header__1FD6w">
    <div class="Header_inside__1MzA3 ru">
      <header
        class="Caption_captionDesktop__eo6GH Caption_caption__3R-Mi common_divider__1VQXn common_underline__2qgBH">
        <div class="Caption_name__1pfTC"><a class="link_red__1yt7R link_link__29xFl" href="https://www.mos.ru/">
          <div class="Caption_logo__IS1vg">mos.ru</div>
        </a><a class="link_red__1yt7R link_link__29xFl" href="https://www.mos.ru/">Официальный сайт Мэра Москвы</a>
        </div>
        <div class="Caption_user__YEAhs">
          <div class="Caption_item__3tAks common_item__16qjr common_semibold__1Y2Lm">{{userName$ | async}}</div>
          <a class="Help_mainLink__3_dfj link_primary__fU-Jd link_link__29xFl Caption_item__3tAks common_item__16qjr common_semibold__1Y2Lm" (click)="authService.logout()">Выйти</a></div>
      </header>
      <nav class="Menu_menu__13xOb"><span class="Menu_item__5wCCF common_item__16qjr common_semibold__1Y2Lm"><a
        target="_top" class="  Menu_link__1f7RY common_middle__3evrh link_primary__fU-Jd link_link__29xFl "
        href="https://www.mos.ru/news/">Новости</a></span><span
        class="Menu_item__5wCCF common_item__16qjr common_semibold__1Y2Lm"><a
        class="  Menu_link__1f7RY common_middle__3evrh link_primary__fU-Jd link_link__29xFl "
        href="https://www.mos.ru/afisha/">Афиша</a></span><span
        class="Menu_item__5wCCF common_item__16qjr common_semibold__1Y2Lm"><a
        class="  Menu_link__1f7RY common_middle__3evrh link_primary__fU-Jd link_link__29xFl "
        href="https://www.mos.ru/uslugi/" style="position: relative;">Услуги</a></span><span
        class="Menu_item__5wCCF common_item__16qjr common_semibold__1Y2Lm"><a
        class="  Menu_link__1f7RY common_middle__3evrh link_primary__fU-Jd link_link__29xFl "
        href="https://www.mos.ru/mayor/themes/">Мэр</a></span><span
        class="Menu_item__5wCCF common_item__16qjr common_semibold__1Y2Lm"><a target="_self"
                                                                              class="  Menu_link__1f7RY common_middle__3evrh link_primary__fU-Jd link_link__29xFl "
                                                                              href="https://www.mos.ru/authority/">Власть</a></span><span
        class="Menu_item__5wCCF common_item__16qjr common_semibold__1Y2Lm"><a
        class="Menu_link__1f7RY common_middle__3evrh link_primary__fU-Jd link_link__29xFl "
        href="https://www.mos.ru/map/">Карта</a></span><span
        class="Menu_item__5wCCF common_item__16qjr common_semibold__1Y2Lm"><a
        class=" Menu_text__3DGkY common_middle__3evrh Menu_link__1f7RY common_middle__3evrh link_primary__fU-Jd link_link__29xFl"
        href="https://www.mos.ru/moi-raion/">Мой район</a>
      </span>
        <span
          class="Menu_item__5wCCF common_item__16qjr common_semibold__1Y2Lm"routerLinkActive="Menu_itemActive__3FS7R" routerLink="/admin/"><a
          class="Menu_text__3DGkY common_middle__3evrh Menu_link__1f7RY common_middle__3evrh link_primary__fU-Jd link_link__29xFl"
          >Мой приют</a></span>
        <span
          class="Menu_item__5wCCF common_item__16qjr common_semibold__1Y2Lm" routerLinkActive="Menu_itemActive__3FS7R" routerLink="/market/"><a
          class="Menu_text__3DGkY common_middle__3evrh Menu_link__1f7RY common_middle__3evrh link_primary__fU-Jd link_link__29xFl"
          >Питомцы из приютов</a></span>

        <div class="Menu_lastSlot__1nixy Menu_slot__-tcaB common_item__16qjr common_right__14M-1">
          <div class="Search_search__2uVwW">
            <button class="Search_button__17yql common_unstyledButton__10cKX" type="button"
                    aria-label="Открыть модальное окно поиска"><img class="Search_icon__Sj_Ky"
                                                                    src="assets/mos.ru/magnifier.a16b0a60.svg"
                                                                    alt="Поиск"></button>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div style="visibility: hidden; height: 0px;">
    <div class="mos-layouts__teaser"
         data-mos-teaser="{&quot;scroll&quot;:false,&quot;adaptive&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;phone&quot;],&quot;adaptiveOptions&quot;:{&quot;tabletWidth&quot;:830,&quot;phoneWidth&quot;:480},&quot;placementParams&quot;:{&quot;p1&quot;:&quot;bxgae&quot;,&quot;p2&quot;:&quot;y&quot;}}"></div>
  </div>
</div>
