@font-face {
  font-family: "MCW XX";
  src: url("fonts/MCWXXRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MCW XX";
  src: url("fonts/MCWXXBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MCW XX";
  src: url("fonts/MCWXXLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MCW XX";
  src: url("fonts/MCWXXMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moscow Sans";
  src: url("fonts/MCWXXRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Moscow Sans";
  src: url("fonts/MCWXXBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Moscow Sans";
  src: url("fonts/MCWXXLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Moscow Sans";
  src: url("fonts/MCWXXMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
