.ant-breadcrumb {
  margin-bottom: 12px;
}

.ant-form-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 12px;
}

.ant-select {
  min-width: 180px;
}

form {
  button[type="submit"] {
    margin-top: 16px;
  }
}
