<h3>Сведения об обработке от экто- и эндопаразитов</h3>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div nz-row [nzGutter]="24" nzType="flex" nzJustify="start">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="date">Дата обработки</nz-form-label>
      <nz-form-control nzErrorTip="The input is not valid sterilization station Address!">
        <nz-date-picker formControlName="date" id="date"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="animalWeight">Вес животного</nz-form-label>
      <nz-form-control nzErrorTip="The input is not valid sterilization station arrival date!">
        <input nz-input formControlName="animalWeight" id="animalWeight"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="medicineName">Название препарата</nz-form-label>
      <nz-form-control nzErrorTip="The input is not valid sterilization date!">
        <input nz-input formControlName="medicineName" id="medicineName"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="dose">Дозировка</nz-form-label>
      <nz-form-control nzErrorTip="The input is not valid sterilization station name!">
        <input nz-input formControlName="dose" id="dose"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="veterinarianName">ФИО ветврача</nz-form-label>
      <nz-form-control nzErrorTip="The input is not valid doctor fullname!">
        <input nz-input formControlName="veterinarianName" id="veterinarianName"/>
      </nz-form-control>
    </nz-form-item>
  </div>
  <nz-form-item>
    <nz-form-control>
      <button nz-button type="submit" nzType="primary">Сохранить</button>
    </nz-form-control>
  </nz-form-item>
</form>
